/* Global plus Home, About and Contact Pages
-----------------------------------------------------------------------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
nav,
section
{
    display: block;
}

body
{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
}

/*Header, logo y navigation bar
-----------------------------------------------------------------------------------*/
.imgLogo
{
    position: absolute;
    top: 5px;
    left: 15px;
}

.menu_nav
{
    position: absolute;
    top: 25px;
    right: 40px;
}

.menu_nav a
{
    font-size: 15px;

    margin-left: 5px;
    padding: 2px 10px 2px 10px;

    text-decoration: none;

    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
}

.menu_nav .active
{
    color: #fff;
    background-color: #4cbb17;
}

/*Home Page
-----------------------------------------------------------------------------------*/
#container_home
{
    height: 100vh;
    background-image: url(./imgs/campofutbol.jpg);
    background-size: 100% 100%;
    background-position: fixed;
}

.section_home
{
    margin-left: 20px;
}

.section_home h1
{
    font-size: 40px;

    margin-bottom: 30px;
    padding-top: 70px;

    word-spacing: 5px;
    text-transform: uppercase;

    color: #fff;
    text-shadow: 3px 5px 2px #000;
}

.section_home h2
{
    font-size: 35px;

    margin-right: 35px;
    margin-bottom: 30px;

    text-align: right;
    text-transform: uppercase;

    color: #fff;
    text-shadow: 2px 2px 2px #f00;
}

.section_home h3
{
    font-size: 25px;
    font-style: italic;

    width: 20%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 550px;
    padding-bottom: 3px;
    padding-left: 15px;

    text-align: left;

    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgb(253, 249, 249);
}

.section_home p
{
    font-size: 20px;

    width: 45%;
    margin-bottom: 35px;
    margin-left: 700px;
    padding-bottom: 3px;

    text-align: left;
    text-indent: 25px;

    color: rgb(197, 228, 198);
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    background-color: #000;
}

/*About Page
-----------------------------------------------------------------------------------*/
#container_about
{
    height: 625px;

    background-color: #d8dfd5;
}

.section_about
{
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 100px;

    color: #000;
}

.section_about h2
{
    font-size: 35px;

    margin-bottom: 10px;

    text-align: center;
    text-transform: uppercase;

    text-shadow: 2px 2px 2px #fff;
}

.section_text
{
    margin-top: 45px;

    border-right: 2px solid #1d1a3b;
    border-left: 2px solid #1d1a3b;
}

.section_about h3
{
    font-size: 25px;

    text-align: center;
}

.section_about p
{
    font-size: 20px;

    padding: 15px;

    text-align: left;
}

/*Contact Page
-----------------------------------------------------------------------------------*/
#container_contact
{
    height: 100vh;
    background-image: url(./imgs/pelotacopia.png);
    background-size: 100% 100%;
    background-position: fixed;
}

.section_contact h2
{
    font-size: 35px;

    margin-left: 40px;
    padding-top: 150px;

    text-transform: uppercase;

    color: #fff;
    text-shadow: 3px 5px 2px #000;
}

.contact_info
{
    margin-left: 30px;
    padding-top: 50px;
}

.contact_info p:first-child
{
    font-size: 20px;

    width: 33%;
    margin-bottom: 50px;
    margin-left: 10px;
    padding-bottom: 3px;
    padding-left: 15px;

    color: white;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #000;
}

.contact_info p
{
    font-size: 20px;

    width: 33%;
    margin-left: 10px;
    padding-bottom: 3px;
    padding-left: 15px;

    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

.contact_info a
{
    text-decoration: none;

    color: #7cfc00;
}

.img_contact
{
    position: absolute;
    top: 70px;
    right: 20px;
}